:root {
    --clr-white: #ffffff;
    --clr-black: #000000;
    --clr-btn: #2F584E;
    --clr-yellow: #F7BE2C;
    --clr-heading-blk: #151515;
    --clr-nav-txt: #838383;
    --clr-hero-txt: #2D3134;
    --clr-footer-bg: #FF9257;
}
